@import '_lib';

$max-width: 960px;
$questions-gutter: 30px;


.question-bar {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 15px;

  transition: -webkit-transform 400ms;
  -webkit-transform: translateY(0);

  &.hide {
    -webkit-transform: translateY(400px);
  }
}

.question-text {
  @extend %question-item;
  max-width: $max-width;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-size: 33px;
  text-align: center;

  &:before {
    @extend %left-stick;
  }

  &:after {
    @extend %right-stick;
  }

  .text {
    position: relative;
    display: block;
  }
}

.question-bar-answers {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.question-bar-answers-item-wrapper {

}

.question-bar-answers-item {
  @extend %question-item;
  width: 49%;
  font-size: 27px;
  padding: 5px 17px 7px;

  .inner {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  &.selected {
    border-color: #fff;
    background-color: #EFA423;
    background-image: linear-gradient(to bottom,  rgba(239,164,35,1) 0%,rgba(247,156,0,1) 41%,rgba(219,102,0,1) 100%);
    color: #fff;
    text-shadow: none;

    .answer-id {
      color: #000;
    }
  }

  &.correct {
    @extend %blink-animation;
    color: #fff;
    border-color: #fff;
    background-color: #000;
    background-image: linear-gradient(to bottom,  rgb(53, 238, 37) 0%, rgb(82, 249, 0) 41%, rgb(39, 188, 0) 100%);
    text-shadow: none;

    .answer-id {
      color: #fff;
    }
  }

  &.incorrect {
    @extend %blink-animation;
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(to bottom,  rgb(247, 64, 64) 0%, rgb(230, 0, 0) 41%, rgb(211, 0, 0) 100%);
    text-shadow: none;

    .answer-id {
      color: #fff;
    }
  }

  &:nth-child(odd) {
    float: left;
  }

  &:nth-child(even) {
    float: right;

    &:before {
      display: none;
    }
  }

  &:before {
    @extend %left-stick;
  }

  &:after {
    @extend %right-stick;
  }

  .answer-id {
    color: $highlight-color;
  }

  &.selected .answer-id {
  }

  .answer-text {}

  &.selected .answer-text {
  }
}


@-webkit-keyframes blink {
  to {background-image: none;}
}

@keyframes blink {
  to {background-image: none;}
}