@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic);

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #000;
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}