@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic);
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

body {
  background-color: #000;
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  overflow-y: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000 url("layout/fon.jpg") no-repeat 50% 50%/cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.layout-nerdtv-logo {
  position: absolute;
  top: 30px;
  width: 200px; }

.layout-millionaire-logo {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 320px; }

.question-text, .question-bar-answers-item, .info-inner {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 2px solid #666666;
  border-radius: 30px;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #4c5054 0%, black 45%, black 100%);
  color: #fff; }

.question-text:before, .question-bar-answers-item:before, .question-text:after, .question-bar-answers-item:after {
  position: absolute;
  top: 50%;
  width: 500%;
  height: 2px;
  margin-top: -2px;
  background-color: #666666;
  content: ''; }

.question-text:before, .question-bar-answers-item:before {
  right: 100%;
  margin-right: 2px; }

.question-text:after, .question-bar-answers-item:after {
  left: 100%;
  margin-left: 2px; }

.question-bar-answers:after {
  display: block;
  clear: both;
  content: ''; }

.question-bar-answers-item.correct, .question-bar-answers-item.incorrect {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 150ms;
  -webkit-animation-delay: 50ms;
  -webkit-animation-iteration-count: 2;
  animation-name: blink;
  animation-duration: 150ms;
  animation-delay: 50ms;
  animation-iteration-count: 2; }

.question-bar {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 15px;
  transition: -webkit-transform 400ms;
  -webkit-transform: translateY(0); }
  .question-bar.hide {
    -webkit-transform: translateY(400px); }

.question-text {
  max-width: 960px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-size: 33px;
  text-align: center; }
  .question-text .text {
    position: relative;
    display: block; }

.question-bar-answers {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; }

.question-bar-answers-item {
  width: 49%;
  font-size: 27px;
  padding: 5px 17px 7px; }
  .question-bar-answers-item .inner {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden; }
  .question-bar-answers-item.selected {
    border-color: #fff;
    background-color: #EFA423;
    background-image: linear-gradient(to bottom, #efa423 0%, #f79c00 41%, #db6600 100%);
    color: #fff;
    text-shadow: none; }
    .question-bar-answers-item.selected .answer-id {
      color: #000; }
  .question-bar-answers-item.correct {
    color: #fff;
    border-color: #fff;
    background-color: #000;
    background-image: linear-gradient(to bottom, #35ee25 0%, #52f900 41%, #27bc00 100%);
    text-shadow: none; }
    .question-bar-answers-item.correct .answer-id {
      color: #fff; }
  .question-bar-answers-item.incorrect {
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(to bottom, #f74040 0%, #e60000 41%, #d30000 100%);
    text-shadow: none; }
    .question-bar-answers-item.incorrect .answer-id {
      color: #fff; }
  .question-bar-answers-item:nth-child(odd) {
    float: left; }
  .question-bar-answers-item:nth-child(even) {
    float: right; }
    .question-bar-answers-item:nth-child(even):before {
      display: none; }
  .question-bar-answers-item .answer-id {
    color: #f3a016; }

@-webkit-keyframes blink {
  to {
    background-image: none; } }
@keyframes blink {
  to {
    background-image: none; } }
.question-text, .question-bar-answers-item, .info-inner {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 2px solid #666666;
  border-radius: 30px;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #4c5054 0%, black 45%, black 100%);
  color: #fff; }

.question-text:before, .question-bar-answers-item:before, .question-text:after, .question-bar-answers-item:after {
  position: absolute;
  top: 50%;
  width: 500%;
  height: 2px;
  margin-top: -2px;
  background-color: #666666;
  content: ''; }

.question-text:before, .question-bar-answers-item:before {
  right: 100%;
  margin-right: 2px; }

.question-text:after, .question-bar-answers-item:after {
  left: 100%;
  margin-left: 2px; }

.question-bar-answers:after {
  display: block;
  clear: both;
  content: ''; }

.question-bar-answers-item.correct, .question-bar-answers-item.incorrect {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 150ms;
  -webkit-animation-delay: 50ms;
  -webkit-animation-iteration-count: 2;
  animation-name: blink;
  animation-duration: 150ms;
  animation-delay: 50ms;
  animation-iteration-count: 2; }

.info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  text-align: center;
  transition-delay: 0;
  transition-duration: 300ms;
  transition-property: -webkit-transform;
  -webkit-transform: translateX(0);
  transform: translateX(0); }
  .info._hidden {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  .info .symbol {
    display: inline-block;
    position: relative;
    top: -5px;
    padding: 0 10px;
    font-size: 30px;
    color: #f3a016; }

.info-inner {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  font-size: 40px; }

.info.mode_fail .info-inner {
  background-image: linear-gradient(to bottom, #f74040 0%, #e60000 41%, #d30000 100%);
  border-color: #fff; }
  .info.mode_fail .info-inner .symbol {
    color: #fff; }
