.layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('layout/bg.jpg') no-repeat 50% 50% / cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layout-nerdtv-logo {
  position: absolute;
  top: 30px;
  width: 200px;
}

.layout-millionaire-logo {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 420px;
}