<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="app/com/main.css"/>
  <script src="app/lib/react.js"></script>
  <script src="app/lib/JSXTransformer.js"></script>
  <script src="app/app.js" type="text/javascript"></script>

  <script src="app/com/board-table/board-table.jsx" type="text/jsx" charset="UTF-8"></script>
  <script src="app/com/question/question.jsx" type="text/jsx" charset="UTF-8"></script>
</head>
<body>

{{ content }}

<script type="text/jsx" charset="UTF-8">
app.run(DATA);
</script>
</body>
</html>