{% assign app = 'millionaire' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="JetMillionaire">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, minimal-ui">

  <link rel="stylesheet" href="app-{{app}}/com/main.css"/>

  <script src="lib/react.js"></script>
  <script src="lib/JSXTransformer.js"></script>

  <script src="app-{{app}}/com/layout/layout.jsx" type="text/jsx"></script>
  <script src="app-{{app}}/com/question-bar/question-bar.jsx" type="text/jsx"></script>
  <script src="app-{{app}}/app.js"></script>
</head>
<body>

{{ content }}

<script type="text/jsx" charset="UTF-8">
app.run(DATA);
</script>
</body>
</html>